$light: #ad7fa8
$medium: #75507b
$dark: #5c3566
$active: #3465a4

$primary: lighten($dark, 55%)
$secondary: darken($light, 5%)

// Ripped from <http://compass-style.org/reference/compass/utilities/general/clearfix/>
=pie-clearfix
  &:after
    content: ""
    display: table
    clear: both

=transition($property: all, $duration: 1s, $timing-function: ease, $delay: 0s)
  $result: $property $duration $timing-function $delay
  -webkit-transition: $result
  transition: $result

=t
  +transition(all, 0.2s)

html
  min-height: 100%
  background: $dark

body
  font: 100%/150% Cabin, "DejaVu Sans", "Bitstream Vera Sans", Verdana

body > *
  max-width: 47em
  margin: -1px auto  // -1px patches up rounding errors
  padding: 0 1.5em

h1, h2
  text-transform: lowercase

a:link
  text-decoration: none

#topbit
  +pie-clearfix
  margin-top: 5em

header
  float: left

  h1
    margin: 0
    font-size: 420%

    a
      position: relative
      z-index: 11  // Under #main
      color: white
      line-height: 42%
      top: 0
      +transition(top, 0.25s, linear)

      &:hover, &:active
        // When hovering over the header, make it pop up
        top: -0.13em
        +transition(top, 0.25s, linear)

nav
  float: right
  font-size: 75%
  position: relative
  // If header and nav collide, nav will always end up on top.
  // Oh yeah, you like that, don't you?
  z-index: 42

  ul
    margin: 0

    li
      float: left
      list-style: none

      a
        display: block
        margin: 0 2px
        padding: 2px 8px
        color: $light
        border: 1px solid transparent
        border-bottom-width: 0
        text-transform: lowercase
        +t

        &:hover, &:active, &.current
          color: white
          border-color: white
          background: $dark
          +t

#main, footer
  a
    +t

    &:link
      color: $dark
      +t

    &:visited
      color: $medium
      +t

    &:hover, &:focus
      background-color: $dark
      color: white
      +t

    &:active
      background-color: $active
      color: white
      +t

#main
  position: relative
  z-index: 23  // Above the header
  min-height: 20em
  padding-bottom: 2em
  background: $primary
  border: 1px solid white

  h1
    margin: 0 -0.67em 0
    padding: 0 0.67em 0
    font-size: 225%
    line-height: 75%
    border-top: 4px solid $dark

  h2
    margin: 2.25em -0.86em 0
    padding: 0 0.86em 0
    font-size: 175%
    line-height: 75%
    border-top: 2px solid $dark

  h3
    margin: 1.75em 0 -0.4em
    font-size: 125%
    font-weight: normal

  blockquote
    border-left: 5px solid $light
    margin-left: 1em
    padding-left: 1em

  dl
    dt
      font-size: 112.5%

  #posts dt .date-thing
    font:
      style: italic
      size: 90%

  #post-date
    margin-top: 0.25em
    font-size: 75%
    line-height: 100%
    text-indent: 1em

    a
      background: $primary

footer
  background: $secondary
  border: 1px solid $secondary
  color: $dark

  p
    margin: 0.1em 0
    font-size: 75%
